:root {
    --primary-color-dark-1: rgb(20, 20, 20);
    --primary-color-dark-1-1: rgb(35, 35, 35);
    --primary-color-dark-2: rgb(120, 120, 120);
    --primary-color-dark-3: rgb(180, 180, 180);
}

* {
    margin: 0;
    padding: 0;
    font-size: 30px;
    box-sizing: border-box;
    background-color: var(--primary-color-dark-1);
    color: var(--primary-color-dark-2);
}

body, html, #root {
    height: 100%;
    padding: 10px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.section-one, .section-two {
    display: flex;
    flex-direction: column;
    gap: 20px
}

button {
    padding: 5px;
    cursor: pointer;
    color: var(--primary-color-dark-2);
    border: 1px solid var(--primary-color-dark-2)
}

button:hover {
    background-color: var(--primary-color-dark-1-1);
}

.item {
    cursor: grab;
    user-select: none;
    touch-action: none;
    width: 150px;
    height: 250px;
    background-color: var(--primary-color-dark-1-1);
}

.item-header {
    height: 20px;
}

.item-content {
    background-color: transparent;
    padding: 20px;
    color: white;
}


.container {
    gap: 40px;
    display: flex;
    flex-direction: row;
}


.item-freeze {
    background-color: #4f0101;
    cursor: not-allowed;
}

.projection {
    background-color: rgba(54, 54, 255, 0.52);
}

.items-counter {
    display: flex;
    gap: 10px
}

.item-count {
    color: black;
    padding: 10px;
}